@charset "Shift_JIS";
/* _commonstyle_phase2からコピー */
/* -------------------------------------------------------------------------- */
/* 0. 構造(ヘッダ)                                                            */
/* -------------------------------------------------------------------------- */
#frame-header header,
#frame-header_temp header {
  background: #0079bf;
  border-bottom: 1px solid #333333;
  line-height: 0;
  display: table;
  width: 100%; }
#frame-header .frame-content,
#frame-header_temp .frame-content {
  width: 100%;
  padding: 0; }
  #frame-header .frame-content .header-left,
  #frame-header .frame-content .header-center,
  #frame-header .frame-content .header-right,
  #frame-header_temp .frame-content .header-left,
  #frame-header_temp .frame-content .header-center,
  #frame-header_temp .frame-content .header-right {
    display: table-cell;
    vertical-align: middle; }
  #frame-header .frame-content .header-left #glonavBtn-area,
  #frame-header .frame-content .header-left #logoImg-area,
  #frame-header_temp .frame-content .header-left #glonavBtn-area,
  #frame-header_temp .frame-content .header-left #logoImg-area {
    display: inline-block;
    vertical-align: middle; }
  #frame-header .frame-content .header-right,
  #frame-header_temp .frame-content .header-right {
    width: 95px; }
    #frame-header .frame-content .header-right input,
    #frame-header_temp .frame-content .header-right input {
      font-family: "メイリオ","Meiryo","ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","ＭＳ Ｐゴシック",sans-serif;
      display: block;
      text-align: center;
      border-radius: 8px;
      cursor: pointer;
      text-decoration: none;
      font-size: 85.71429%;
      line-height: 1.35714em;
      padding: 4px 12px;
      border-bottom: 1px solid black;
      border-top: 1px solid #5595ed;
      border-left: 1px solid #5595ed;
      border-right: 1px solid #5595ed;
      color: #fff;
      text-shadow: 1px 1px 1px black;
      background: url(../../images/2951/bg_btn_01.png) repeat-x top #093e92;
      box-shadow: inset 0 -1px 1px #031128;
      height: 27px; }
      #frame-header .frame-content .header-right input:hover,
      #frame-header_temp .frame-content .header-right input:hover {
        background: url(../../images/2951/bg_btn_01_o.png) repeat-x top #002156; }

/* -------------------------------------------------------------------------- */
/* 0. 構造(フッター)                                                          */
/* -------------------------------------------------------------------------- */
#commonfooter_sp,
#commonfooter_sp_temp {
  width: 100%;
  background: #0079bf;
  color: #ffffff;
  padding: 0; }
  #commonfooter_sp ul,
  #commonfooter_sp_temp ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden; }
    #commonfooter_sp ul:after,
    #commonfooter_sp_temp ul:after {
      content: "";
      clear: both; }
    #commonfooter_sp ul li,
    #commonfooter_sp_temp ul li {
      float: left;
      margin-left: 0;
      margin-right: 5px; }
      #commonfooter_sp ul li a,
      #commonfooter_sp_temp ul li a {
        color: #ffffff;
        text-decoration: underline;
        font-size: 10px; }

/* -------------------------------------------------------------------------- */
/* 画面下部に「トップページへ」リンク追加                                     */
/* -------------------------------------------------------------------------- */
.toppage-link {
  background: none repeat scroll 0 0 transparent;
  border: medium none;
  color: #000080;
  font-size: 10pt;
  margin: 0 2px;
  text-decoration: underline; }
  .toppage-link:hover {
    text-decoration: none; }

#contentsfooter_toppage_link {
  background: none repeat scroll 0 0 white;
  text-align: center;
  position: relative;
  transform: translate3d(0px, 0px, 1px);
  transition: -moz-transform 0.2s ease-in-out 0s;
  z-index: 1; }

/* ikou Customize */
/* _frame_topmenu_sp_add start */
/* 20140827 長谷 ヘッダの背景をブラウザに合わせる */
#frame-header header,
#frame-header_temp header {
  background-image: url("../../images/2951/header_b.png"); }

#frame-header .frame-content .header-right,
#frame-header_temp .frame-content .header-right {
  background-image: url("../../images/2951/header_r.png"); }

/* 20140827 長谷 フッタの背景をブラウザに合わせる */
frame-footer {
  background: #ffffff;
  line-height: 0;
  display: table;
  width: 100%; }

#frame-footer .frame-content {
  background: url("../../images/2951/footer_b.png") repeat scroll white;
  width: 100%;
  padding: 0; }

#frame-footer .frame-content .footer {
  display: table-cell;
  vertical-align: middle; }

#frame-footer div img {
  vertical-align: top;
  max-height: 50px; }

#frame-footer .frame-content p {
  float: right;
  position: relative;
  bottom: 30px;
  right: 15px;
  color: #0079bf;
  font-size: 90%; }

/* 20140829 長谷 お問い合わせエリアをブラウザに合わせる */
#frame-infomation .frame-content {
  margin-top: 15px; }

#frame-infomation .frame-content section {
  background-color: #f0f0f0;
  margin-bottom: 15px; }

#frame-infomation .frame-content h1 {
  color: black;
  background-color: #bdd5f4;
  padding: 6px 12px;
  font-size: 100%;
  line-height: 1.42857em;
  font-weight: bold; }

#frame-infomation .frame-content h2 {
  font-size: 100%;
  line-height: 1.42857em;
  color: #000;
  font-weight: bold;
  margin-top: 1em; }

#frame-infomation .frame-content .information-text,
#frame-infomation .frame-content .information-multicol {
  margin-left: 12px;
  margin-right: 12px; }

#frame-infomation .frame-content .information-text p {
  margin-top: 0.71429em;
  line-height: 1.42857em; }

#frame-infomation .frame-content .information-text a {
  color: #074dac; }

#frame-infomation .frame-content .information-text-tell img {
  padding: 0px 6px; }

#frame-infomation .frame-content .information-text-tell p {
  margin-top: 0.57143em;
  font-size: 142.85714%;
  line-height: 1em;
  font-weight: bold; }

#frame-infomation .frame-content .information-deflist {
  margin-top: 0.57143em; }

#frame-infomation .frame-content .information-deflist dt,
#frame-infomation .frame-content .information-deflist dd {
  margin: 0;
  padding: 0;
  display: inline;
  vertical-align: top;
  line-height: 1.42857em; }

#frame-infomation .frame-content .information-deflist dt:after {
  content: " :"; }

#frame-infomation .frame-content .information-multicol {
  *zoom: 1;
  margin-right: 0;
  padding-bottom: 10px; }

#frame-infomation .frame-content .information-multicol:after {
  clear: both;
  display: block;
  content: ""; }

#frame-infomation .frame-content .information-multicol .information-column {
  float: left;
  /* gnav h */
  margin-right: 18px; }

/* 20140829 長谷 お問い合わせエリアここまで */
/* 20140912 遠藤 ログアウトボタンを現行AAで使用しているボタンに変更する(start) */
#frame-header .frame-content .header-right input,
#frame-header_temp .frame-content .header-right input {
  line-height: 1.35714em;
  padding: 4px 12px;
  border-top: 1px solid #ff0066;
  border-left: 1px solid #ff0066;
  border-right: 1px solid #ff0066;
  background: url("../../images/2951/sm_optional_logout_bg.gif") repeat-x scroll center top #ff0033;
  border-color: #ff0066 #ff0066 black;
  box-shadow: inset 0 -1px 1px #ff0066;
  text-shadow: 1px 1px 1px #ff0066;
  width: 100px; }

#frame-header .frame-content .header-right input:hover,
#frame-header_temp .frame-content .header-right input:hover {
  background: url(../../images/2951/sm_optional_logout_bg.gif) repeat-x top #ff0033; }

/* 20140912 遠藤 ログアウトボタンを現行AAで使用しているボタンに変更する(end) */
/* _frame_topmenu_sp_add end*/
